@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
font-family: 'Open Sans', sans-serif;
background: lightgray
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.color-back
{
  background-color: grey;
}

.navbar-custom {
    background-color:#53023F;
    color:white;
   -webkit-text-fill-color: white;
   padding-top:22px;
   margin-bottom:0;
   text-align: center;
    font-weight: 500;
    
}

.textcolor
{
  color: white; 
}

.row{
margin-top:40px;
padding: 0 10px;
}
.clickable{
cursor: pointer;   
}
.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}
.panel-body
{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.panel-color
{
  background-color:#f0ad4e;
}
.text-style {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.text-s {
    font-size: 1.25em;
    font-weight: 300;
}
.jumbotron
{
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url("img/1.jpg");
  background-size: cover;
  margin-bottom:0
}	  
.text-color{
  color:grey;
}
.color-white
{
  background-color:white
}
.text-a
{
  background-color: grey;
}
.text-txt
{
  color: #CFD8DC;
}
.logo
{
  font-weight: bold;
  font-size: 26px; 
    color: #f0ad4e;
  font-family: "Times New Roman", Georgia, Serif;
}
.text-style
{
    text-align: left;
    display: table-cell;
    padding: 6px;
    vertical-align: middle;
}
.text-black
{
  color:#222
}
a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-purple {
    background-color: #53023F;
    border-color: #53023F;
    padding-left: 0;
}

.tabs{
  margin-top:2% 
}



.header{width:100%}
.navbar{text-transform:uppercase;letter-spacing:.1em}
@media (min-width:768px){.navbar ul.nav>li>a{border-top:solid 5px transparent;padding-top:34.5px}.navbar ul.nav>li.active>a,.navbar ul.nav>li.open>a{text-decoration:none !important;border-top-color:none}}@media (min-width:768px) and (max-width:991px){.navbar ul.nav>li>a{padding-right:7.5px;padding-left:7.5px}}.navbar-toggle{text-transform:uppercase;letter-spacing:.1em;color:#fff}
ul.dropdown-menu li a{-webkit-transition:all .2s ease-out};



#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}