@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body
{
  background-color: #CFD8DC;
}
.color-back
{
  background-color: grey;
}

.navbar-custom {
    background-color:#53023F;
    color:white;
   -webkit-text-fill-color: white;
   padding-top:22px;
   margin-bottom:0;
   text-align: center;
}

.navbar .nav > li > a {
    color: white;
    
}
.textcolor
{
  color: white; 
}

.row{
margin-top:40px;
padding: 0 10px;
}
.clickable{
cursor: pointer;   
}
.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}

.panel-color
{
  background-color:#F2B327;
}
.text-style {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.text-s {
    font-size: 1.25em;
    font-weight: 300;
}
.jumbotron
{
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url("img/1.jpg");
  background-size: cover;
  margin-bottom:0
}	  
.text-color{
  color:grey;
}
.color-white
{
  background-color:white
}
.text-a
{
  background-color: grey;
}
.text-txt
{
  color: #CFD8DC;
}
.logo
{
  font-weight: bold;
  font-size: 26px; 
  color:#F2B327;
  font-family: "Times New Roman", Georgia, Serif;
}
